/* Global Styles */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #1a1a1a; /* Dark background */
  color: white; /* Light text */
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Gallery Section */
#gallery {
  margin: 20px;
  text-align: center;
  background-color: #5a5959;
  border-radius: 8px;
}

#gallery h1 {
  color: #fff;
}

.gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.gallery-item {
  margin: 10px;
}

.gallery-item img {
  width: 200px;
  height: 150px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 8px;
}

.gallery-item a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.gallery-item img:hover {
  transform: scale(1.05);
}

/* Popup Styles */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  position: relative;
  max-width: 90%;
  max-height: 80%;
}

.popup img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.popup .prev, .popup .next {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.popup .prev {
  left: 10px;
}

.popup .next {
  right: 10px;
}

/* Map Section */
#map {
  margin: 20px;
  text-align: center;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
}

#map h2 {
  color: white;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

a {
  color: white;
  text-decoration: none;
}

#temple-info {
  text-align: center;
}